* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #ffffff;
  height: 80px;
  margin: 0%;
  padding-left: 1rem;
  padding-top: 1rem;
}

#titolo {
  font-size: 40px;
  font-weight: bold;
}

.intestazione {
  float: left;
}

.riquadro {
  background-color: rgb(255, 255, 255);
  width: 50rem;
  height: 35rem;
  border-radius: 0.2rem;
  margin: 0 auto;
  margin-top: 3rem;
}

#Task {
  color: white;
  background-color: #47adf1;
  border-radius: 0.4rem;
  border: 2px solid #47adf1;
  padding: 8px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 2.8rem;
  margin-top: 1.1rem;
  margin-bottom: 0.5rem;
}

#Section1 {
  color: #c6ccd1;
  background-color: #ffffff;
  border-radius: 0.4rem;
  border: 2px solid #c6ccd1;
  padding: 8px;
  font-weight: bold;
  font-size: 12px;
}

hr {
  border: 1px solid #c6ccd1;
}

#Livello_1 {
  width: 10px;
  height: 10px;
  vertical-align: baseline;
  color: #444851;
}

.titoli {
  font-weight: bold;
  color: #444851;
}

.check {
  font-weight: bolder;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 3px solid #6fc6b2;
  color: #6fc6b2;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.9rem;
}

.cross {
  font-weight: bolder;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 3px solid #eb5b54;
  color: #eb5b54;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.contenuto {
  font-weight: normal;
  color: #444851;
}

#primo {
  color: white;
  background-color: #47adf1;
  border-radius: 0.8rem;
  border: 1px solid #47adf1;
  padding: 7px;
  font-weight: 100;
  font-size: 11px;
}

#secondo {
  color: white;
  background-color: #9c72e4;
  border-radius: 0.8rem;
  border: 1px solid #9c72e4;
  padding: 7px;
  font-weight: 100;
  font-size: 11px;
}

#terzo {
  color: white;
  background-color: #64c0a9;
  border-radius: 0.8rem;
  border: 1px solid #64c0a9;
  padding: 7px;
  font-weight: 100;
  font-size: 11px;
}

#quarto {
  color: white;
  background-color: #f29e33;
  border-radius: 0.8rem;
  border: 1px solid #f29e33;
  padding: 7px;
  font-weight: 100;
  font-size: 11px;
}

#quinto {
  color: white;
  background-color: #d863a1;
  border-radius: 0.8rem;
  border: 1px solid #d863a1;
  padding: 7px;
  font-weight: 100;
  font-size: 11px;
}

#sesto {
  color: white;
  background-color: #b0c926;
  border-radius: 0.8rem;
  border: 1px solid #b0c926;
  padding: 7px;
  font-weight: 100;
  font-size: 11px;
}
ul {
  padding-left: 2.8rem;
  padding-top: 2rem;
  list-style: none;
}

span {
  line-height: 1.5rem;
}
